.Industry-box{
    width: 100%;
    background-color:#F9F9F9;
     /* overflow-x: hidden; */
}
.Industry-box .banner{
    width: 100%;
    height: 560px;
    position: relative;
}
.Industry-box .banner img{
    width: 100%; 
    height: 100%;
}
.Industry-box .banner p{
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;  
    right: 0;
    margin:auto;
    width: 300px;
    height: 83px;
    font-size: 64px;
    text-align: center;
    font-family: YouSheBiaoTiHei-Regular, YouSheBiaoTiHei;
    font-weight: 400;
    color: #4282F4;
    letter-spacing: 8px;
}
.Industry-box .center .data-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.data-header-l{
    font-size: 16px;
    font-weight: 500;
    color: #777777;
    cursor: pointer;
}
.data-header-r{
    width: 240px;
    height: 40px;
    position: relative;
    border-bottom: 1px solid #C4C4C4;
}
.data-header-r img{
    position: absolute;
    z-index: 99;
    top: 10px;
    left: 0;
    width: 23px;
    height: 23px;
    cursor: pointer;
}
.data-header-r input{
    position: absolute;
    width: 100%;
    height: 100%;
    text-indent: 28px;
    font-size: 16px;
    color: #777777;
    border: none;
    background-size: 24px;
    background-color: #F8F8F8;
}
.data-header-r input:focus{
	outline: medium;
}
.data-header-r input::-webkit-input-placeholder {
    /* placeholder颜色  */
    color: #aab2bd;
    /* placeholder字体大小  */
    font-size: 14px;
    /* placeholder位置  */
    /* text-align: right; */
}
.Industry-box .center .list{
    width: 100%;
    /* margin-top: 50px; */
}
.Industry-box .center .list .list-data{
    margin-top: 50px;
    width: 100%;
    height: 346px;
    background-color: #fff;
    border-radius: 4px 4px 4px 4px;
}
.Industry-box .center .list .list-data .left{
    width: 390px;
    height: 100%;
}
.Industry-box .center .list .list-data .left img{
    width: 100%;
    height: 100%;
}
.Industry-box .center .list .list-data .right{
    width: 634px;   
    height: 100%;;
    font-family: PingFang SC-Bold, PingFang SC;
    font-weight: bold;
    flex-direction: column;
    align-content: space-between;
    cursor: pointer;
    position: relative;
}
.Industry-box .center .list .list-data .right .p1{
    margin-top: 25px;
    margin-left: 32px;
    font-size: 24px;
    /* color: #4282F4; */
}
.Industry-box .center .list .list-data .right .p2{
    margin-top: 38px;
    margin-left: 32px;
    font-size: 20px;
    color: #333333;
}
.Industry-box .center .list .list-data .right .p3{
    margin-top: 34px;
    margin-left: 32px;
    padding-right: 60px;
    /* height: 110px; */
    line-height: 26px;
    font-size: 16px;
    font-weight: 500;
    color: #555555;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; 
    overflow: hidden;
}
.Industry-box .center .list .list-data .right .div4{
    position: absolute;
    left:30px;
    bottom: 0;
    width: 90%;
    margin: auto;
    /* margin-top:54px; */
    height: 58px;
    border-top: 1px solid #f3f3f3;
}
.Industry-box .center .list .list-data .right .div4 p{
    font-size: 14px;
    font-weight: 500;
    color: #555555;
}
.Industry-box .center .list .list-data .right .div4 span{
    margin-right: 44px;
    font-size: 16px;
}   
.Industry-box .center .list .list-data .right:hover .p1,
.Industry-box .center .list .list-data .right:hover .span{
    color: #4282F4;
}
.Industry-box .center .list .button{
    margin: 0 auto;
    margin-top: 76px;
    margin-bottom: 90px;
    width: 222px;
    height: 50px;
    background-color: #4282F4;
    color: #FFFFFF;
    border-radius: 5px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}
.Industry-box .center .list .black-back{
    background-color: #b5cbf1;
}
